
@{
    ViewBag.Title = "Gestión de Pacientes";
}

<section class="content">

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="form-group">
                        <label>DOCUMENTO DE IDENTIDAD</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="usuario" id="txtNroDocumento" placeholder="ej: 15335559" />
                    </div>
                    <div class="form-group">
                        <label>NOMBRES</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="nombres" id="txtNombres" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label>APELLIDO PATERNO</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="apPaterno" id="txtApPaterno" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label>APELLIDO MATERNO</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="apMaterno" id="txtApMaterno" placeholder="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="form-group">
                        <label>SEXO</label>
                    </div>
                    <div class="form-group">
                        <select id="ddlSexo" Class="form-control">
                            <option value="">Seleecione Opción</option>
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>EDAD</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="edad" id="txtEdad" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label>TELÉFONO</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="telefono" id="txtTelefono" placeholder="ej: 942700513" />
                    </div>
                    <div class="form-group">
                        <label>DIRECCIÓN</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="direccion" id="txtDireccion" placeholder="" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div align="center">
        <table>
            <tr>
                <td>
                    <button type="submit" id="btnRegistrar" class="btn btn-primary">Registrar</button>
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <button type="submit" id="btnCancelar" class="btn btn-danger">Cancelar</button>
                </td>
            </tr>
        </table>
    </div>

</section>

@section scripts{

    <script src="~/Js/GestionarPaciente/GestionarPaciente.js"></script>
}
